@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-texto1: "Inter", sans-serif;
    --color-fondo: #e5e5e5;
    --color-boton: #D8DFE8;
    --color-balco: #ffffff;
}

body {
    background: var(--color-fondo);
    margin: 0;
}

.encabezado {
    display: flex;
    align-items: center;
    background: gray;
    height: 65px;
    width: auto;
}

.logo {
    height: 65%;
    width: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 60px;
}

.entrada_texto {
    padding-top: 54px;
    width: 37.72%;
    height: 92.4%;
}

.cuadros {
    background-color: var(--color-fondo);
    color: #0A3871;
    font-family: var(--main-texto1);
    outline: none;
    border-radius: 10px;
    border-color: transparent;
    resize: none;
}

#cuadro_entrada {
    font-size: 2rem;
    width: 100%;
    height: 500px;
    padding: 0;
    border: 0;
}

#aviso {
    display: flex;
    font-family: var(--main-texto1);
    width: 100%;
    font-size: 12px;
    gap: 8px;
}

#aviso img {
    width: 3.14%;
    height: 100%;
}

#grupo_botones{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.botones {
    height: 50px;
    width: 98%;
    font-family: var(--main-texto1);
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 20px;
}

#btn_encriptar {
    background: #0A3871;
    color: var(--color-boton);
    border-color: var(--color-boton);
}

#btn_desencriptar {
    background: var(--color-boton);
    color: #0A3871;
    border-color: #0A3871;
}

.salida_texto {
    background: var(--color-balco);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 29.3%;
    height: 92.4%;
    padding: 54px 0;
}

#muñeco {
    width: 85%;
    height: 42.2%;
    padding-top: 25%;
    padding-bottom: 9.5%;
}

.aviso_salida {
    width: 100%;
    height: 9.98%;
    text-align: center;
    font-family: var(--main-texto1);
    font-weight: bold;
    font-size: 1.5rem;
}

#aviso_salida_parrafo {
    font-size: 1rem;
    font-weight: normal;
}

#cuadro_salida {
    background-color: var(--color-balco);
    font-size: 1.5rem;
    width: 80%;
    height: 431px;
    margin-bottom: 100px;
}

#btn_copiar {
    background: var(--color-boton);
    color: #0A3871;
    border-color: #0A3871;
    width: 70%;
}

.pie_pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    height: 65px;
}

.pie_pagina p {
    font-family: var(--main-texto1);
    font-size: 1.25rem;
}