
body {
    background: #e5e5e5;
}

.encabezado {
    height: 52px;
    width: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.entrada_texto {
    padding-top: 54px;
    /*padding-left: 240px;
    padding-right: 50px;*/
}

#cuadro_de_texto {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#aviso {
    display: flex;
    gap: 8px;
}

#grupo_botones{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 500px;
}

.botones {
    height: 55px;
    width: 235px;
    border-radius: 20px;
}

#btn_encriptar {
    background: #0A3871;
    color: #D8DFE8;
    border-color: #D8DFE8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#btn_desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.salida_texto {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    padding: 54px 0;
}

#muñeco {
    padding: 0px 32px;
    padding-top: 150px;
    padding-bottom: 30px;
}