@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background: #e5e5e5;
}

.encabezado {
    height: 52px;
    width: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.entrada_texto {
    padding-top: 54px;
}

.cuadros {
    background-color: #e5e5e5;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    outline: none;
    border-radius: 10px;
    border-color: transparent;
    resize: none;
}

#cuadro_entrada {
    font-size: 32px;
    width: 500px;
    height: 500px;
}

#aviso {
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 12px;
    gap: 8px;
}

#grupo_botones{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 500px;
}

.botones {
    height: 55px;
    width: 235px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

#btn_encriptar {
    background: #0A3871;
    color: #D8DFE8;
    border-color: #D8DFE8;
}

#btn_desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

.salida_texto {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    padding: 54px 0;
}

#muñeco {
    padding: 0px 32px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.aviso_salida {
    width: 300px;
    height: 60px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#aviso_salida_parrafo {
    font-size: 16px;
    font-weight: normal;
}

#cuadro_salida {
    background-color: white;
    font-size: 24px;
    width: 300px;
    height: 500px;
    margin-bottom: 100px;
}

#btn_copiar {
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}